@import url('./css/nav.css');
@import url('./css/slider.css');
@import url('./css/main.css');
@import url('./css/popup.css');
@import url('./css/footer.css');


/* ===========================
   1. Reset & Global Styles
=========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: Arial, sans-serif;
}